<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
<title>{{ account.display_name }} &mdash; Gistodon</title>
<link rel="icon" href="graphics/gistodon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="stylesheet" href="css/github-light.css">
<link rel="stylesheet" href="css/jquery.autocomplete.css">
<link rel="stylesheet" href="css/simplemde.min.css">
<style>
  .header { text-align: center }
  .header img { border-radius: 50%; max-height: 120px }
  .header a:hover { color: black; text-decoration: none }
  .header input { width:33%; border: solid #ddd 1px; margin-bottom: 4px }
  .main-content input { font-size: 2em; width:100%; margin-bottom: 8px }
</style>
</head>
<body>
<section class="header">
  <h1>
    <a target="_blank" title="Gistodon"
       href="https://github.com/thedod/gistodon#readme">
      <img alt="Gistodon" src="graphics/gistodon.png"/>
    </a>
    Gistodon: toot longer
    <small>(as
      <a target="_blank" title="{{ account.display_name }}"
         href="{{ account.url }}">{{ account.display_name }}</a>)
    </small>
    <a target="_blank" title="{{ account.display_name }}"
       href="{{ account.url }}">
      <img alt="{{ account.display_name }}" src="{{ account.avatar }}"/>
    </a>
  </h1>
  <input id="autocomplete" placeholder="autocomplete mentions/hashtags">
  <button id="copy-button">
    <i class="fa fa-hand-o-down" aria-hidden="true"></i>
  </button>

</section>
<section class="main-content">
<form method="POST" action="toot" target="_blank">
<input type="hidden" id="direction" name="direction" value="ltr"/>
<input id="title" name="title" placeholder="Optional title/CW"/>
<textarea id="markdown" name="markdown" placeholder="Write something..."></textarea>
<input type="submit" value="Toot it"/>
</form>
<script src="js/simplemde.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.autocomplete.js"></script>
<script>
$(function() {
  $('#direction').val('ltr'); // to avoid incosistency when reloading rtl
  function toggleDirection() {
    var dir = $('#direction').val()=='ltr'? 'rtl': 'ltr';
    $('#direction').val(dir);
    window.editor.codemirror.setOption("direction", dir);
    $('.main-content').css("direction", dir);
  }
  window.editor = new SimpleMDE({
    element: document.getElementById("markdown"),
    spellChecker: false,
    promptURLs: true,
    toolbar: [
        "bold",
        "italic",
        "heading",
        "|",
        "quote",
        "unordered-list",
        "ordered-list",
        "|",
        "link",
        "image",
        "|",
        "preview",
        "side-by-side",
        "fullscreen",
        "|",
        {
            "action": toggleDirection,
            "className": "fa fa-exchange",
            "default": true,
            "name": "direction",
            "title": "Switch direction (LTR/RTL)"
        },
        "|",
        "guide",
        "|"
    ]
  });
  $("#autocomplete").autocomplete({
   source:[ { type: "remote", url: "search?q=%QUERY%" } ]
  });
  $('#copy-button').click(function() {
    window.editor.codemirror.replaceSelection($('#autocomplete').val());
    $('#autocomplete').val('');
    return true; // voodoo
  }); 
});
</script>
</body>
</html>
